* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
#navbar{
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
    background-color: #127DFF;
    /* padding: 20px; */
}
.add{
    margin: 20px;
    cursor: pointer;
}
#navbar ul{
   position: relative; 
   /* border: 1px solid green; */
   width: 70px;
   height: 30px;
margin: 30px;
}
.button {
    width: 100%;
    height: 100% ;
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    border: none;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif ;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    cursor: pointer;
}
#dark{
    display: none;
}
main{
    position: relative;
}
.adding{
    position: absolute;
    left: 10px;
    display: none;
}
.adding li{
    list-style: none;
    width: 90px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    border: 2px solid #127DFF;
    border-top: none;
    color: #127DFF;
    font-weight: 550;
    font-family: 'Times New Roman', Times, serif;
}
.large {
    width: 90vw;
    height: 71vh;
    margin: 0 auto;
    /* border: 1px solid black; */
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

}

.view {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin: auto;
    border-radius: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    user-select: none;
    display: none;

}
.next{
    position: absolute;
    top: 50%;
}
#uploadedImg{
 width: 95%;
 height: 100%;
 object-fit: contain;
 /* border: 1px solid red; */
 border-radius: 20px;   
 cursor:grab;
 transition: transform .3s ease;
}

.viewBtn {
    width: 50%;
    height: 60%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 5px 10px 25px 20px #EFEFEF;
    /* display: none; */
}

#upload {
    /* width: 150px; */
    padding: 10px 30px;
    /* height: 50px; */
    background-color: #127DFF;
    color: white;
    font-size: 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

#uploadFile {
    display: none;
}

#thumbnailBox {
    width: 90vw;
    border: 1px solid black;
    height: 15vh;
    margin: 0 auto;
    position: relative;
}

#thumbnails {
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    display: none;

}

#thumbnails #list {
    padding: 0;
    overflow-x: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior:smooth;
    /* padding: 20px; */
    /* display: flex; */
}

.small {
    width: 100px;
    height: 100px;
    border: 1px solid green;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    list-style: none;
}

.smallImg {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: auto;
}
#folder{
    width: 100%;
    /* height: 100%; */
    /* border: 1px solid green; */
   display: flex;
   /* flex-direction: column; */
   border-radius: 10px;
   justify-content: center;
   align-items: center;
}
#folUpload{
    display: none;
}
#folderBtn{
    /* border: none; */
background:none;
border: none;
cursor: pointer;
align-self: flex-end;
}
#folderH{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #127DFF;
    margin: 0;
}
#footer{
    height: 4vh;
    width: 100vw;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#127DFF ;
}
.lengths{
    display: flex;
    margin: 0 70px;
    gap: 40px;
}
.length{
    list-style: none;
    color:white;
    /* background-color: ; */
}
#footer button{
    background: none;
    color: white;
    border: 1px solid  white;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    margin-right: 100px;
    cursor: pointer;
}
@media screen and (max-width:700px){
    .view{
        /* display: block; */
        width: 100%;
        height: 80%;
    }
    .viewBtn{
        width: 80%;
        height: 50%;
        text-align: center;
        /* display: none; */
    }
    .viewBtn h1{
        font-size: 22px;
    }
    #upload{
        padding: 10px 20px;
        font-size: 20px;
    }
    #folder{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    #folderH{
        font-size: 35px;
    }
    #folderBtn{
        align-self: center;
    }
    .next{
        display: none;
        width: 0;
    }
}
@media screen and (min-width:701px) and (max-width:1000px){
    .view{
        /* display: block; */
        width: 100%;
        height: 80%;
    }
    .next{
        display: none;
        width: 0;
    }
    .viewBtn{
        width: 60%;
        height: 50%;
        text-align: center;
        /* display: none; */
    }
    .viewBtn h1{
        font-size: 30px;
    }
    #upload{
        padding: 15px 25px;
        font-size: 25px;
    }
    #folder{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    #folderH{
        font-size: 40px;
    }
    #folderBtn{
        align-self: center;
    }
}
@media screen and (min-width:1601px) {
    .view{
        /* display: block; */
        width: 100%;
        height: 100%;
    }
    .viewBtn{
        width: 40%;
        height: 60%;
        text-align: center;
        /* display: none; */
    }
    #folderH{
        font-size: 50px;
    }
   #folderBtn img{
    width: 50px;
   }
}